@import url('https://rsms.me/inter/inter.css');

:root {
    --primary: skyblue;
    --pure: antiquewhite;
    --dark: rgb(3, 30, 40);
}

body {
    margin: 0;
    padding: 0;
    background-image: url("images/sunsetnograin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Spectral', 'sans-serif'; /* Spectral/Inter */
}

.header {
    color: var(--dark);
    text-align: center;
    margin-bottom: 30px;
}

.data {
    /* margin-left: 20vw; */
    flex-direction: column;
    position: relative;
}

.box {
    border: 3px solid var(--dark);
    align-items: center;
    /* margin-right: 20vw; */
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--pure);
    transition: all 0.3s ease;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.box:hover{
    background-color: white;
}

.btn {
    padding: 0.8rem 3rem;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid transparent;
    display: block;
    transition: all 0.3s ease;
    background-color: var(--primary);
    border-radius: 30px;
    box-shadow: 1px 5px 10px rgb(132, 187, 198);
}

.btn:hover{
    border-color: var(--primary);
    background: transparent;
    color: var(--dark);
    cursor: pointer;
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 0rem;
    /* padding-left: 2rem; */
}

.left {
    flex: 1;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-box {
    max-width: 1152px;
    padding: 0.8rem 15px;
    color: var(--primary);
    background: transparent;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

input[type=text]{
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    box-shadow: 1px 5px 10px rgb(218, 218, 218);
}

input:focus {
    outline: none;
    box-shadow: 1px 3px 5px rgb(218, 218, 218);
}

.response {
    text-transform: capitalize;
    margin-bottom: 5px;
}

#minmax {
    margin-top: 5px;
}

#cityPhotoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
    height: 75vh;
    background-color: var(--pure);
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease;
    border: 3px solid var(--dark);
}

#proxyButton {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

#cityPhotoContainer:hover{
    background-color: white;
}

#cityPhoto {
    max-width: 100%;
    max-height: 75vh;
    height: 60vh;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .right {
        margin-top: 20px;
    }
}

@media (max-width: 375px) {
    body {
        background-size: contain; /* or any other appropriate size */
        height: auto; /* Resetting the height to allow content to expand */
    }
}